body{
	background-color: black;
	color: white;
	font-family:"Georgia", serif;
	width: 900px;
	margin: 0 auto;
	line-height: 2;
	border: solid 1px white;
	}
header{
	font:small-caps 15px Verdana;
	text-align:center;
}
h1 {
	text-align:center;
	color: #dc6900;
	padding: 15px;
}
h2 {
	background-color: white;
	padding:10px;
	text-align:center;
	color:#eb8c00; 
}
nav a {
	color: 	#eb8c00;
	font-weight: bold;
	text-decoration: none;
	}

nav a:hover,
nav a:focus {
	color: white;
	}
a {
	text-decoration: none;
}
section{
	margin:20px;
	padding: 20px;
	background-color: #111;
	border-left: 5px solid #eb8c00;
}
footer {
	text-align:center;
	background-color:#dc6900;
	}

 